  .title {
    font-weight: bold;
    font-size: 50px;
    color: #ff8fb2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .content {
    font-size: 19px;
    line-height: 35px;
    margin: 20px;
    color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ff8fb2, -1px -1px 10px #ff8fb2;

  }
  
  .education-list li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    list-style: none; /* Remove default list styling */
  }
  
  .education-list li b {
    margin-left: 10px; /* Add space between icon and text */
  }
  
  .description {
    margin-bottom: 20px;
  }
  
 
  /* .cv-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff8fb2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cv-button:hover {
    transform: scale(1.05); 
    background-color: #fff;
    color: #ff8fb2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  } */

  .cv-button {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
    border-radius: 10px;
    padding: 13px;
    margin-top: 37px;
    border: #ff8fb2 2px solid;
    color: #ffff;
    text-decoration: none;
    /* background-color: #fff; */
    margin :44px;   
    /* hna fin 9adit lbutton */
    box-shadow: 1px 1px 10px #ff8fb2, -1px -1px 10px #ff8fb2;

}

/* @media (max-width: 500px) {
  .education-list{
display: wrap;  
}
} */


.cv-button:hover {
    color: #fff;
    background-color: #ff8fb2;
    transition: all 0.2s ease-in-out;
    scale: 1.05;
    box-shadow: 1px 1px 10px #fff, -1px -1px 10px #fff;

    /* text-shadow: 1px 1px 10px #fff, -1px -1px 10px #fff; */

}
  .download-icon {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 24px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  